html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map-canvas { 
	height: 100%; 
}

.container-fluid{
	height: 0px;
}

.ui-helper-hidden-accessible{
    display: none;
}
ul.ui-autocomplete{
    padding: 5px;
    margin: 0px;
    width: 268px;
    background: rgba(200, 208, 200, 1);
}
a.ui-state-focus{
    font-weight:bold;
}


.searchtext{
	position: relative;
	padding: 5px;
	z-index: 3;
	width: 30%;
	margin-left: 5%;
}